<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.student.mapper.StudentMapper"> <!-- 네임스페이스가 자바에서 패키지 역할. -->
	<select id="studentList" resultType="student">
		select * from student order by 1  <!-- 세미콜론 있으면 안되고 쿼리만 있어야됨. -->
	</select>

	<insert id="addStudent" parameterType="student">
		insert into student values(#{stuNo},#{stuName},#{eng},#{math})
	</insert>
	
	<delete id="remStudent" parameterType="String">
	delete from student where stu_no = #{stuNo}
	</delete>
</mapper>

<!-- 닫으면 에러 없어짐.. -->